@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Zen+Dots&display=swap');

$btn-color: #0f117a;
$fc-w: white;
$header: 7vw;
$header-2: 2.5vw;
$content: 5vw;
$content-2: 1.5vw;
$line-h: 8vw;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $fc-w;
}
body {
  background-color: #000000;
  font-family: 'Fredoka One', cursive;
  overflow-x: hidden;
}
.loader-con {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;

  #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 4s;
    pointer-events: none;
    width: 80vw;
    height: 80vw;
  }

  #loader path:nth-child(2) {
    stroke-dasharray: 432;
    stroke-dashoffset: 432;
    animation: line-anime 2s ease forwards;
  }
  #loader path:nth-child(3) {
    stroke-dasharray: 392;
    stroke-dashoffset: 392;
    animation: line-anime 2s ease forwards 0.3s;
  }
  #loader path:nth-child(4) {
    stroke-dasharray: 308;
    stroke-dashoffset: 308;
    animation: line-anime 2s ease forwards 0.6s;
  }
  #loader path:nth-child(5) {
    stroke-dasharray: 319;
    stroke-dashoffset: 319;
    animation: line-anime 2s ease forwards 0.9s;
  }
  #loader path:nth-child(6) {
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anime 2s ease forwards 1.2s;
  }
  #loader path:nth-child(7) {
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
    animation: line-anime 2s ease forwards 1.5s;
  }
  #loader path:nth-child(8) {
    stroke-dasharray: 431;
    stroke-dashoffset: 431;
    animation: line-anime 2s ease forwards 1.8s;
  }
  #loader path:nth-child(9) {
    stroke-dasharray: 368;
    stroke-dashoffset: 368;
    animation: line-anime 2s ease forwards 2.1s;
  }
  #loader path:nth-child(10) {
    stroke-dasharray: 367;
    stroke-dashoffset: 367;
    animation: line-anime 2s ease forwards 2.4s;
  }
  #loader path:nth-child(11) {
    stroke-dasharray: 406;
    stroke-dashoffset: 406;
    animation: line-anime 2s ease forwards 2.7s;
  }
  #loader path:nth-child(12) {
    stroke-dasharray: 361;
    stroke-dashoffset: 361;
    animation: line-anime 2s ease forwards 3s;
  }
  #loader path:nth-child(13) {
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    animation: line-anime 2s ease forwards 3.3s;
  }

  @keyframes line-anime {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill {
    from {
      fill: transparent;
    }
    to {
      fill: white;
    }
  }
}

.loader-finish {
  opacity: 0;
  pointer-events: none;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
}

.header {
  position: relative;
  margin-top: 10%;
  color: $fc-w;
  font-family: 'Fredoka One', cursive;

  h1 {
    font-size: 8vw;
    margin-bottom: 5%;
  }
}
.my-container {
  padding-left: 8%;
  padding-right: 8%;
}
.section-1,
.section-4 {
  .intro {
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    margin-top: 20%;

    img {
      width: 80vw;
      height: 80vw;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translate(2vw, 2vw);
      }
    }
    .border-bg {
      width: 80vw;
      height: 80vw;
      position: absolute;
      border: 5px solid $btn-color;
      top: 4vw;
      left: 6vw;
      z-index: -1;
      box-shadow: 6px 6px 12px #0f117aa4;
    }
  }
  .content {
    margin-top: 15%;
    h1 {
      font-size: $header;
      margin-bottom: 5%;
      color: $btn-color;
    }
    h3 {
      font-size: $content;
      line-height: $line-h;
      text-align: justify;
    }
  }
}

.section-2 {
  margin-top: 20%;
  h1 {
    font-size: $header;
    color: $btn-color;
  }
  h3 {
    font-size: $content;
    line-height: $line-h;
    text-align: justify;
    a {
      margin-top: 5%;
      word-spacing: normal;
      margin-left: 10%;
      padding: 1.5vw 3vw;
      text-decoration: none;
      border-radius: 35px;
      color: white;
      background-color: $btn-color;

      transition: all 0.3s ease-in-out;
      &:hover {
        color: $btn-color;
        background-color: white;
        border: none;
        i {
          color: $btn-color;
        }
      }
      i {
        color: white;
      }
    }
  }

  .punks-container {
    margin-top: 10%;
    margin-right: 2%;
    height: 50vw;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
    .punk-1,
    .punk-2,
    .punk-3,
    .punk-4,
    .punk-5 {
      height: 15vw;
      width: 16vw;
      span {
        margin-top: 3%;
        display: block;
        font-size: 3vw;
        text-align: center;
        &:nth-of-type(1) {
          color: $btn-color;
        }
        &:nth-of-type(2) {
          position: relative;
          left: 2vw;
        }
      }
    }
    .special {
      background-color: $btn-color;
      height: 15vw;
      width: 15vw;
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10vw;
      }
    }
  }
  .animation {
    h1 {
      text-align: center;
      margin-bottom: 5%;
    }
    border: 5px solid $btn-color;
    box-shadow: 0px 12px 16px #0f117aa4;
    min-width: 80vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;

    .punk-1,
    .punk-2,
    .punk-3 {
      img {
        height: 25vw;
        width: 25vw;
        object-fit: cover;
        box-shadow: 0px 12px 16px #0f117aa4;
      }
      .info {
        margin-top: 3%;
        span {
          position: relative;
          right: 8vw;
          margin-top: 2%;
          display: block;
          font-size: 3vw;
          text-align: center;
          &:nth-of-type(1) {
            color: $btn-color;
          }
        }
        a {
          margin-top: 5%;
          text-decoration: none;
          font-size: 3vw;
          display: inline-block;
          color: white;
          background-color: $btn-color;
          margin-left: 3%;

          padding: 2vw 3vw;
          border-radius: 25px;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $btn-color;
            background-color: white;
          }
          &:nth-of-type(2) {
            margin-left: 6%;
          }
        }
      }
    }
    .glider {
      height: 60vw;
      margin-right: 5%;
      margin-left: 5%;
    }
    .glider-prev {
      position: absolute;
      top: 30vw;
      left: 0.1vw;
    }
    .glider-next {
      position: absolute;
      top: 30vw;
      right: 0.1vw;
    }
    button {
      i {
        font-size: 3vw;
      }
    }
  }
}

.section-4 {
  margin-top: 10%;
  margin-bottom: 20%;

  .slide-1,
  .slide-2,
  .slide-3 {
    a {
      background-color: $btn-color;
      text-decoration: none;
      font-size: 6vw;
      padding: 3% 12%;
      color: white;
      border-radius: 50px;
      position: relative;
      top: 7%;
      left: 25%;
      transform: translate(-25%, -7%);

      box-shadow: 6px 6px 15px #0f117aa4;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $btn-color;
        background-color: white;
        i {
          color: $btn-color;
        }
      }
    }
  }
}

.faq-sec {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  height: 150vw;
  h1 {
    text-align: center;
    font-size: $header;
    color: $btn-color;
  }
  h3 {
    line-height: $line-h;
    font-size: $content;
    &:nth-of-type(1) {
      margin-top: 2%;
      color: $btn-color;
      font-size: $content;
    }
    &:nth-of-type(3) {
      margin-top: 2%;

      color: $btn-color;
      font-size: $content;
    }
  }
}

@media only screen and (min-width: 768px) {
  .my-container {
    padding-left: 4%;
    padding-right: 4%;
  }
  .section-1,
  .section-4 {
    .intro {
      img {
        width: 40vw;
        height: 40vw;
      }
      .border-bg {
        width: 40vw;
        height: 40vw;
        top: 2vw;
        left: 4.5vw;
      }
    }
    .content {
      margin-top: 20%;
      h1 {
        font-size: $header-2;
        text-align: center;
        margin-bottom: 15%;
      }
      h3 {
        font-size: $content-2;
        line-height: 4vw;
        text-align: justify;
        word-spacing: normal;
      }
    }
  }

  .section-2 {
    h1 {
      text-align: center;
      font-size: $header-2;
    }
    h3 {
      font-size: $content-2;
      line-height: 4vw;
      word-spacing: normal;
      a {
        font-size: $content-2;
        padding: 1vw 2%;
      }
    }
    .punks-container {
      margin-top: 10%;
      margin-right: 1%;
      height: 40vw;

      .punk-1,
      .punk-2,
      .punk-3,
      .punk-4,
      .punk-5 {
        height: 40vw;
        width: 35vw;
        margin-bottom: 20%;
        img {
          height: 20vw;
          width: 20vw;
          object-fit: cover;
        }
        span {
          display: block;
          font-size: $content-2;
          text-align: center;
        }
      }
      .special {
        background-color: $btn-color;
        height: 15vw;
        width: 15vw;
        position: relative;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10vw;
        }
      }
    }
    .animation {
      width: 60%;
      height: 60%;
      margin: auto;
      .punk-1,
      .punk-2,
      .punk-3 {
        img {
          height: 20vw;
          width: 20vw;
          object-fit: cover;
          box-shadow: 0px 12px 16px #0f117aa4;
        }
        .info {
          margin-top: 3%;
          span {
            position: relative;
            right: 4vw;
            margin-top: 2%;
            display: block;
            font-size: $content-2;
            text-align: center;
            &:nth-of-type(1) {
              color: $btn-color;
            }
          }
          a {
            position: relative;
            right: 1vw;
            margin-left: 10%;
            margin-top: 5%;
            text-decoration: none;
            font-size: $content-2;
            display: inline-block;
            color: white;
            background-color: $btn-color;
            margin-left: 3%;

            padding: 1vw 1vw;
            border-radius: 25px;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $btn-color;
              background-color: white;
            }
            &:nth-of-type(2) {
            }
          }
        }
      }
      .glider {
        height: 40vw;
        margin-right: 5%;
        margin-left: 5%;
      }
      .glider-prev {
        position: absolute;
        top: 22vw;
        left: 0.1vw;
      }
      .glider-next {
        position: absolute;
        top: 22vw;
        right: 0.1vw;
      }
      button {
        i {
          font-size: 3vw;
        }
      }
    }
  }

  .section-4 {
    .content {
      h1 {
        margin-bottom: 5%;
      }
      h3 {
        font-size: $content-2;
      }
    }
    .slide-1,
    .slide-2,
    .slide-3 {
      a {
        font-size: 2.5vw;
        padding: 1.5% 13%;
      }
    }
  }

  .faq-sec {
    margin: -5% auto;
    text-align: justify;
    width: 70vw;
    height: 50vw;
    h1 {
      text-align: center;
      font-size: $header-2;
      margin-bottom: 5%;
      color: $btn-color;
    }
    h3 {
      line-height: 4vw;
      font-size: $content-2;
      &:nth-of-type(1) {
        margin-top: 2%;
        color: $btn-color;
        font-size: $content-2;
      }
      &:nth-of-type(3) {
        margin-top: 2%;

        color: $btn-color;
        font-size: $content-2;
      }
    }
  }
}
